In [1]:
import pandas as pd
import numpy as np

1. Load the dataset (5 points)
a. Tip: As the dataset is large, use fewer rows. Check what is working well on your
machine and decide accordingly.

In [2]:
df = pd.read_csv('../data/blogtext.csv')

In [3]:
df = df.sample(frac=.01).reset_index()

In [4]:
df.shape

(6813, 8)

In [5]:
df.sample(10)

,index,id,gender,age,topic,sign,date,text
6333,520023,4115881,male,24,Technology,Cancer,"02,August,2004",Thank God. That's all I can say. ...
3714,87257,2844086,male,15,Student,Pisces,"01,July,2004","I don't know why, but lately God is..."
2833,366865,1119280,female,27,indUnk,Gemini,"01,August,2004","We apologize, but your account is temp..."
2522,163968,4312784,male,17,Education,Gemini,"14,August,2004",Hello. My temporary bloggy. Beco...
2888,163332,3517276,male,24,indUnk,Libra,"20,July,2004",am i an alcoholic yet? the codec thing...
658,432249,722746,female,48,indUnk,Cancer,"02,July,2002",urlLink My Lycos Hi! I'm tr...
3973,227815,619960,male,37,Communications-Media,Libra,"06,November,2002",dan - we have a place conneted to...
1362,190863,3622950,male,16,indUnk,Libra,"02,July,2004",well in keeping with tradition i would ...
5612,192967,1697193,male,23,Telecommunications,Pisces,"21,June,2004","Fra, in this open letter, I recount a..."
85,350716,3120307,male,23,Publishing,Cancer,"08,April,2004",thanx sweety for this warm welcome ...

2. Preprocess rows of the “text” column (7.5 points)
a. Remove unwanted characters

In [6]:
import re
def remove_special_characters(text, remove_digits=False):
    #Using regex
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

In [7]:
df.text[0]

"       I just bought a new keyboard for 5 bucks at the Office Max while shopping for school supplies. Guess it works too. School starts in about two and a half weeks. And I'm ready. I got these really cool looking pens and a binder with countless pockets, (for $9.99, thanks for asking). If you'll excuse me, I'm gonna laugh by butt off at a site called  urlLink Homestar Runner . It has great flash animation and funny characters. Characters that you can imitate the voices of at the office. I'm gonna go see Strong Bad make fun of peoples e-mails.         "

In [8]:
remove_special_characters(df.text[0])

'       I just bought a new keyboard for 5 bucks at the Office Max while shopping for school supplies Guess it works too School starts in about two and a half weeks And Im ready I got these really cool looking pens and a binder with countless pockets for 999 thanks for asking If youll excuse me Im gonna laugh by butt off at a site called  urlLink Homestar Runner  It has great flash animation and funny characters Characters that you can imitate the voices of at the office Im gonna go see Strong Bad make fun of peoples emails         '

In [9]:
df['clean_text']=df.apply(lambda row : remove_special_characters(row['text'], remove_digits=False), axis = 1)

In [10]:
df.sample(5)

,index,id,gender,age,topic,sign,date,text,clean_text
25,301993,2238828,female,23,indUnk,Libra,"14,October,2002",in malaysian news: terengganu...,in malaysian news terengganus...
1062,603463,522332,male,23,Transportation,Cancer,"09,June,2004",After an interesting conversation with...,After an interesting conversation with...
1390,525921,2718350,female,17,Student,Sagittarius,"11,May,2004",urlLink there we go,urlLink there we go
5449,462905,3486607,female,16,Student,Sagittarius,"15,June,2004",... there was a UFO in the sky. It swun...,there was a UFO in the sky It swung ar...
5996,148525,3389924,female,17,Student,Taurus,"06,July,2004",last night i went and finally saw farhe...,last night i went and finally saw farhe...

b. Convert text to lowercase

In [11]:
df['clean_text'] = df['clean_text'].str.lower()

In [12]:
df.sample(5)

,index,id,gender,age,topic,sign,date,text,clean_text
44,567397,3030784,male,15,indUnk,Aquarius,"29,April,2004",Today since we had that bomb threat...,today since we had that bomb threat...
5067,27765,3211137,male,16,indUnk,Sagittarius,"28,November,2003",Let's start off with this. Shut up Nath...,lets start off with this shut up nathan...
1745,8601,3176411,male,33,Engineering,Aries,"10,May,2004","For users in holland, I've fi...",for users in holland ive figu...
4687,12583,1103084,male,34,Education,Pisces,"02,August,2003",on the way home tonight from Uncle Larr...,on the way home tonight from uncle larr...
937,647170,3440211,male,25,Student,Sagittarius,"24,May,2004",playing around with this blog client a ...,playing around with this blog client a ...

c. Remove unwanted spaces

In [13]:
df['clean_text'] = df['clean_text'].str.strip()

In [14]:
df.sample(5)

,index,id,gender,age,topic,sign,date,text,clean_text
6296,469800,1473902,female,25,indUnk,Pisces,"03,June,2004",,
3279,273880,109656,male,36,LawEnforcement-Security,Pisces,"08,October,2002","Well, alright! I'm off of work f...",well alright im off of work for 10 days strai...
5765,414482,3531623,female,24,indUnk,Capricorn,"07,August,2004",I made suggestions urlLink ...,i made suggestions urllink baw shocka baw...
4599,528555,955372,female,16,Student,Aries,"17,June,2003",wow my last four posts have been about ...,wow my last four posts have been about studyin...
1489,590217,3739687,female,24,Education,Virgo,"20,July,2004","wow, it is amazing how easy it is to s...",wow it is amazing how easy it is to spend mon...

d. Remove stopwords

In [15]:
from nltk.corpus import stopwords

cachedStopWords = stopwords.words("english")

def testFuncNew(text_to_clean):
    text = text_to_clean
    text = ' '.join([word for word in text.split() if word not in cachedStopWords])
    return text

In [16]:
df['clean_text'][0]

'i just bought a new keyboard for 5 bucks at the office max while shopping for school supplies guess it works too school starts in about two and a half weeks and im ready i got these really cool looking pens and a binder with countless pockets for 999 thanks for asking if youll excuse me im gonna laugh by butt off at a site called  urllink homestar runner  it has great flash animation and funny characters characters that you can imitate the voices of at the office im gonna go see strong bad make fun of peoples emails'

In [17]:
testFuncNew(df['clean_text'][0])

'bought new keyboard 5 bucks office max shopping school supplies guess works school starts two half weeks im ready got really cool looking pens binder countless pockets 999 thanks asking youll excuse im gonna laugh butt site called urllink homestar runner great flash animation funny characters characters imitate voices office im gonna go see strong bad make fun peoples emails'

In [18]:
df['clean_text']=df.apply(lambda row : testFuncNew(row['clean_text']), axis = 1)

In [19]:
df.sample(2)

,index,id,gender,age,topic,sign,date,text,clean_text
1544,167095,2200790,female,23,Non-Profit,Leo,"27,January,2004",Are you ready? Are you in? ***...,ready reading friendster account cousin also m...
6011,341347,3875945,female,34,Arts,Cancer,"15,July,2004",Do you lower yourself in to a...,lower duelofwords let go nbsp ive frustrated a...

As we want to make this into a multi-label classification problem, you are required to merge
all the label columns together, so that we have all the labels together for a particular sentence
a. Label columns to merge: “gender”, “age”, “topic”, “sign”

In [20]:
cols = [ 'gender', 'age', 'topic', 'sign']
df['age'] = df['age'].astype('str')
df['labels'] = df[cols].values.tolist()

In [21]:
df.sample(2)

,index,id,gender,age,topic,sign,date,text,clean_text,labels
6662,413256,2186817,male,36,RealEstate,Virgo,"13,March,2004",LIVE AID OR MEMOREX? According t...,live aid memorex according urllink remembethe8...,"[male, 36, RealEstate, Virgo]"
773,460469,1476382,male,33,Publishing,Gemini,"09,February,2004",JLo and Marc Anthony urlLink Star M...,jlo marc anthony urllink star magazine whose p...,"[male, 33, Publishing, Gemini]"

In [22]:
cols_to_delete = ['index','id','gender','age','topic','sign','date','text']
# df = df.drop(columns=cols_to_delete)

In [23]:
df.sample(2)

,index,id,gender,age,topic,sign,date,text,clean_text,labels
3240,476265,1757463,male,24,indUnk,Gemini,"30,May,2004",Keep telling myself to pick myself ...,keep telling pick floor know mind connected pr...,"[male, 24, indUnk, Gemini]"
5120,402752,5114,male,25,indUnk,Scorpio,"21,February,2004",Apparently from a sidewalk in A...,apparently sidewalk austin,"[male, 25, indUnk, Scorpio]"

Separate features and labels, and split the data into training and testing (5 points)

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
# split X and y into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df.clean_text, df.labels, random_state=2020)

Vectorize the features (5 points)

a. Create a Bag of Words using count vectorizer
i. Use ngram_range=(1, 2)
ii. Vectorize training and testing features

In [26]:
# import and instantiate CountVectorizer (with the default parameters)
from sklearn.feature_extraction.text import CountVectorizer
cvect = CountVectorizer(ngram_range=(1,1))

In [27]:
#Feed SMS data to CountVectorizer
cvect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [28]:
#Check the vocablury size
len(cvect.vocabulary_)

53452

In [29]:
#What is there in the vocabulary
cvect.vocabulary_

{'hmmm': 22254,
 'lata': 26877,
 'best': 5976,
 'giving': 19670,
 'us': 50025,
 'surprise': 45863,
 'test': 46950,
 'really': 38503,
 'questions': 37967,
 'moderate': 30597,
 'much': 31222,
 'importance': 23567,
 'dom': 14184,
 'scriptjava': 41325,
 'huh': 22969,
 'post': 36557,
 'comments': 10347,
 'asap': 4267,
 'exotic': 16608,
 'meal': 29515,
 'macaroni': 28506,
 'amp': 3318,
 'cheese': 9135,
 'fried': 18646,
 'alligator': 2997,
 'okra': 33553,
 'everything': 16356,
 'frozen': 18790,
 'cool': 11102,
 'whip': 51801,
 'dessertwe': 13203,
 'made': 28563,
 'super': 45711,
 'gator': 19258,
 'airboat': 2726,
 'rides': 39804,
 'famous': 17070,
 'giant': 19551,
 'gators': 19261,
 'stepped': 44831,
 'car': 8365,
 'began': 5707,
 'spraying': 44382,
 'kindly': 26170,
 'informed': 23957,
 'captain': 8351,
 'aint': 2722,
 'skeeters': 42984,
 'ventured': 50355,
 'water': 51204,
 'quaint': 37878,
 'waterfront': 51213,
 'trailer': 48456,
 'park': 34807,
 'village': 50567,
 'adults': 2347,
 'fought': 18378,
 'front': 18760,
 'seat': 41428,
 'dara': 12309,
 'ryan': 40471,
 'settled': 41934,
 'back': 4954,
 'switch': 46101,
 'seats': 41434,
 'could': 11334,
 'edge': 15116,
 'except': 16468,
 'intense': 24298,
 'sun': 45651,
 'beating': 5583,
 'exruciatingly': 16743,
 'oppressive': 33881,
 'humidityit': 23009,
 'felt': 17393,
 'strangely': 45078,
 'like': 27585,
 'disneyland': 13818,
 'ride': 39800,
 'home': 22400,
 'version': 50418,
 'jungle': 25597,
 'boat': 6687,
 'cruise': 11824,
 'vroom': 50828,
 'beginswe': 5730,
 'windy': 52075,
 '5mph': 1348,
 'past': 34954,
 'stinky': 44935,
 'dead': 12534,
 'turtles': 49025,
 'movie': 31097,
 'sets': 41929,
 'swamp': 45971,
 'people': 35282,
 'housesoh': 22732,
 'wait': 50921,
 'werent': 51626,
 'sat': 40851,
 'anticipating': 3651,
 'rumored': 40385,
 '12foot': 293,
 'monster': 30775,
 'alligators': 2998,
 'saw': 40938,
 'something': 43771,
 'distancebarreling': 13914,
 'river': 39944,
 'towards': 48368,
 'straight': 45057,
 'mom': 30669,
 'fact': 16910,
 'mouth': 31075,
 'wide': 51930,
 'openwas': 33818,
 'surly': 45851,
 'foot': 18195,
 'pissed': 35914,
 'cant': 8293,
 'get': 19496,
 'anymore': 3723,
 'marshmallows': 29164,
 'cruised': 11825,
 'along': 3079,
 'side': 42608,
 'peered': 35183,
 'ones': 33685,
 'name': 31691,
 'jumper': 25582,
 'quickly': 37989,
 'leaned': 27100,
 'used': 50042,
 'zoom': 53414,
 'camera': 8182,
 'take': 46308,
 'nice': 32368,
 'picture': 35761,
 'warned': 51099,
 'put': 37785,
 'earplugs': 14993,
 'eardrums': 14962,
 'blasted': 6415,
 'oblivion': 33258,
 'crankin': 11543,
 'going': 19900,
 'heeded': 21638,
 'advice': 2378,
 'didnt': 13431,
 'must': 31451,
 'learn': 27112,
 'sign': 42677,
 'language': 26802,
 'finally': 17628,
 'least': 27125,
 '25mph': 846,
 'lilly': 27627,
 'padsand': 34506,
 'cute': 12061,
 'louisiana': 28210,
 'fisherman': 17771,
 'passed': 34924,
 'clumps': 9940,
 'lillys': 27628,
 'grew': 20367,
 'heads': 21511,
 'stopped': 45003,
 'stuckhaha': 45251,
 'guess': 20592,
 'little': 27805,
 'humornot': 23031,
 'funny': 18967,
 'hot': 22647,
 'hell': 21713,
 'humidity': 23008,
 'thick': 47287,
 'daras': 12311,
 'hair': 20937,
 'floating': 17991,
 'hear': 21541,
 'head': 21484,
 'shes': 42222,
 'underwater': 49503,
 'handed': 21096,
 'pads': 34505,
 'wear': 51321,
 'hatand': 21377,
 'old': 33564,
 'lady': 26664,
 'reached': 38420,
 'mine': 30240,
 'ripped': 39908,
 'away': 4814,
 'hands': 21131,
 'headi': 21497,
 'wanted': 51049,
 'pad': 34491,
 'dammit': 12219,
 'well': 51515,
 'fun': 18909,
 'headed': 21493,
 'dock': 14071,
 'got': 20069,
 'exited': 16600,
 'exclaimed': 16500,
 'wow': 52518,
 'fabulous': 16876,
 'forced': 18225,
 'david': 12421,
 'stand': 44614,
 'arround': 4198,
 'heat': 21586,
 'asked': 4323,
 'million': 30183,
 'one': 33659,
 'satisfiedwe': 40870,
 'piled': 35820,
 'cars': 8512,
 'border': 6942,
 'quick': 37981,
 'tour': 48346,
 'sulpher': 45596,
 'laabout': 26590,
 'beautiful': 5597,
 'even': 16280,
 'kid': 26073,
 'looked': 28082,
 'popeyeand': 36437,
 'houston': 22739,
 'tx': 49146,
 'couldnt': 11337,
 'help': 21744,
 'breath': 7256,
 'sigh': 42651,
 'relief': 39082,
 'reach': 38419,
 'civilization': 9630,
 'last': 26864,
 'night': 32431,
 'rocked': 40040,
 'go': 19822,
 'see': 41515,
 'iti': 24800,
 'screamed': 41284,
 'held': 21705,
 'onto': 33747,
 'dear': 12578,
 'life': 27495,
 'throughout': 47547,
 'ive': 24889,
 'galleria': 19115,
 '2nd': 916,
 'largest': 26830,
 'mall': 28808,
 'complete': 10483,
 'hotel': 22652,
 'ice': 23235,
 'skating': 42981,
 'rink': 39890,
 'lates': 26915,
 'france': 18456,
 'appears': 3882,
 'problems': 37173,
 'urllink': 50018,
 'nuclear': 33063,
 'capacity': 8318,
 'id': 23270,
 'think': 47354,
 'karma': 25783,
 'reality': 38485,
 'probably': 37151,
 'beginning': 5722,
 'good': 19966,
 'thing': 47313,
 'theyve': 47284,
 'appeasing': 3886,
 'radical': 38113,
 'regimes': 38925,
 'years': 52969,
 'great': 20300,
 'opportunity': 33863,
 'throw': 47553,
 'country': 11376,
 'chaos': 8979,
 'drumline': 14673,
 'tryouts': 48883,
 'tomorrowand': 48104,
 'sightreading': 42666,
 'nerveracking': 32192,
 'king': 26175,
 'arthur': 4224,
 'nonsense': 32742,
 'knightley': 26290,
 'shares': 42100,
 'look': 28077,
 'jizzsponges': 25307,
 'always': 3173,
 'knew': 26280,
 'anyone': 3733,
 'else': 15429,
 'seen': 41545,
 'arena': 4053,
 'month': 30793,
 'thin': 47311,
 'wont': 52308,
 'humid': 23007,
 'today': 47959,
 'yesterday': 53049,
 'still': 44892,
 'warm': 51085,
 '90': 1646,
 'seeing': 41531,
 'may': 29405,
 'friends': 18662,
 'aeo': 2402,
 'conference': 10669,
 'meda': 29585,
 'related': 39030,
 'assets': 4394,
 'program': 37274,
 'folks': 18131,
 'dinner': 13572,
 'together': 48018,
 'standup': 44624,
 'sang': 40793,
 'happy': 21223,
 'birthday': 6246,
 'later': 26901,
 'need': 32066,
 'make': 28744,
 'sure': 45822,
 'lot': 28177,
 'work': 52384,
 'done': 14228,
 'addition': 2215,
 'networking': 32237,
 'activities': 2144,
 'httpwwwquizyourfriendscomyourquizphpquizname040721154908myp20quizp21p21ampemailwolf7saolcom': 22905,
 'quiz': 38032,
 'everyone': 16345,
 'iteven': 24790,
 'though': 47452,
 'sorta': 43933,
 'easy': 15025,
 'lab': 26595,
 'report': 39289,
 'okay': 33515,
 'first': 17740,
 'copeland': 11152,
 'cd': 8724,
 'amazing': 3206,
 'second': 41449,
 'miss': 30422,
 'aaron': 1776,
 'marsh': 29159,
 'third': 47385,
 'want': 51044,
 'man': 28845,
 'someone': 43757,
 'genuine': 19427,
 'love': 28225,
 'fourth': 18406,
 'priceless': 37050,
 'might': 30118,
 'cry': 11861,
 'soon': 43854,
 'touching': 48332,
 'fifth': 17535,
 'sixth': 42947,
 'loser': 28158,
 'friday': 18631,
 'feels': 17350,
 'seventh': 41946,
 'long': 28037,
 'weekend': 51422,
 'means': 29534,
 'eighth': 15270,
 'picnic': 35754,
 'campout': 8221,
 'please': 36104,
 'article': 4227,
 'couple': 11387,
 'live': 27816,
 'two': 49117,
 'floors': 18013,
 'marvel': 29190,
 'rent': 39215,
 'pay': 35060,
 'apt': 3970,
 'compared': 10428,
 'link': 27703,
 'grandmas': 20215,
 'house': 22702,
 'bad': 5027,
 'headache': 21485,
 'tub': 48909,
 'threwup': 47522,
 'slept': 43175,
 'three': 47504,
 'hours': 22697,
 'feel': 17334,
 'sick': 42588,
 'dad': 12142,
 'steak': 44768,
 'upset': 49962,
 'tummy': 48960,
 'ill': 23400,
 'write': 52574,
 'missing': 30432,
 'legs': 27236,
 'symbol': 46156,
 'hardlucked': 21279,
 'perserverance': 35449,
 'threelegged': 47509,
 'dog': 14124,
 'favorite': 17244,
 'sadness': 40560,
 'amusement': 3341,
 'give': 19660,
 'story': 45031,
 'fivelegged': 17807,
 'removed': 39179,
 'believe': 5798,
 'full': 18875,
 'new': 32267,
 'phonenbsp': 35657,
 'situation': 42927,
 'middle': 30072,
 'east': 15014,
 'isnt': 24713,
 'getting': 19517,
 'better': 6013,
 'since': 42796,
 'friend': 18649,
 'paying': 35074,
 'close': 9873,
 'attention': 4569,
 'anything': 3746,
 'happens': 21207,
 'turkey': 48997,
 'thursday': 47608,
 'evening': 16281,
 'bomb': 6777,
 'went': 51613,
 'mcdonalds': 29467,
 'parking': 34813,
 'istanbul': 24743,
 'city': 9614,
 'hes': 21905,
 'staying': 44756,
 'hadnt': 20843,
 'recent': 38608,
 'blog': 6513,
 'entry': 15878,
 'worried': 52469,
 'palestinian': 34599,
 'colleague': 10159,
 'located': 27919,
 'talking': 46357,
 'said': 40602,
 'gone': 19951,
 'recently': 38609,
 'place': 35976,
 'insists': 24170,
 'safe': 40569,
 'difference': 13472,
 'perspective': 35489,
 'agreed': 2622,
 'states': 44714,
 'kind': 26154,
 'statement': 44710,
 'wouldnt': 52506,
 'followed': 18139,
 'everythings': 16363,
 'fine': 17652,
 'bombs': 6791,
 'would': 52500,
 'break': 7231,
 'loose': 28121,
 'media': 29593,
 'nuts': 33152,
 'show': 42455,
 'footage': 18196,
 'computerized': 10555,
 'reenactments': 38831,
 'interviews': 24427,
 'bubbas': 7555,
 'street': 45125,
 'weeks': 51447,
 'end': 15644,
 'interesting': 24342,
 'boming': 6794,
 'injured': 24048,
 'bombers': 6787,
 'called': 8125,
 'restaurant': 39502,
 'gave': 19278,
 '15': 363,
 'minutes': 30327,
 'evacuate': 16251,
 'expect': 16621,
 'course': 11404,
 'quite': 38023,
 'possible': 36551,
 'adult': 2341,
 'meals': 29517,
 'im': 23436,
 'shivering': 42318,
 'cold': 10123,
 'smiling': 43374,
 'looking': 28087,
 'nigels': 32425,
 'twisted': 49106,
 'clip': 9843,
 'art': 4216,
 'seal': 41390,
 'know': 26321,
 'whats': 51712,
 'youve': 53216,
 'less': 27323,
 'itll': 24815,
 'never': 32257,
 'happen': 21185,
 'dream': 14522,
 'hard': 21251,
 'lovely': 28247,
 'feathery': 17297,
 'figments': 17552,
 'imagination': 23445,
 'overtrodden': 34379,
 'cease': 8735,
 'exist': 16582,
 'previous': 37039,
 'desirable': 13161,
 'forms': 18322,
 'charlies': 9028,
 'right': 39828,
 'shouldnt': 42431,
 'things': 47329,
 'worse': 52477,
 'ceases': 8738,
 'spontaneous': 44331,
 'beter': 5996,
 'dreams': 14538,
 'bret': 7295,
 'red': 38744,
 'tv': 49045,
 'anybody': 3712,
 'state': 44703,
 'example': 16444,
 'real': 38471,
 'world': 52437,
 'mtv': 31206,
 'strangers': 45080,
 'film': 17598,
 '247': 823,
 'however': 22756,
 '30': 934,
 'minute': 30324,
 'week': 51412,
 'depicts': 13040,
 'torrid': 48279,
 'affairs': 2429,
 'triangles': 48681,
 'draws': 14514,
 'soap': 43577,
 'opera': 33819,
 'admit': 2294,
 'freely': 18547,
 'watch': 51188,
 'watching': 51198,
 'season': 41418,
 'las': 26850,
 'vegas': 50301,
 'bunch': 7724,
 'wild': 51991,
 'horn': 22588,
 'dogs': 14137,
 'girl': 19626,
 'isor': 24722,
 'washaving': 51141,
 'sex': 41965,
 'roommate': 40171,
 'showing': 42467,
 'next': 32334,
 'episode': 15932,
 'another': 3601,
 'talk': 46345,
 'coming': 10303,
 'pregnant': 36879,
 'roommates': 40172,
 'open': 33807,
 'relationship': 39038,
 'boyfriend': 7098,
 'call': 8120,
 'worldbecause': 52438,
 'also': 3126,
 'notice': 32904,
 'joe': 25361,
 'millionaire': 30184,
 'showed': 42459,
 'previews': 37038,
 'select': 41606,
 '20': 643,
 'thought': 47465,
 'running': 40409,
 'ideas': 23286,
 'kicker': 26066,
 'camethe': 8193,
 'told': 48046,
 'women': 52271,
 'guy': 20728,
 '50': 1232,
 'dollars': 14166,
 'truth': 48870,
 'construction': 10885,
 'worker': 52395,
 'makes': 28757,
 'thousand': 47488,
 'cruel': 11820,
 'boundries': 7053,
 'crossed': 11766,
 'territory': 46925,
 'evil': 16385,
 'woman': 52265,
 'pick': 35737,
 'fooled': 18185,
 'national': 31832,
 'television': 46743,
 'mockery': 30578,
 'devestated': 13293,
 'conclusion': 10610,
 'truly': 48847,
 'fair': 16966,
 'idea': 23273,
 'shows': 42476,
 'wants': 51056,
 'marry': 29155,
 'thinking': 47361,
 'thingmoney': 47325,
 'mean': 29518,
 'golddiggers': 19916,
 'money': 30723,
 'perfect': 35354,
 'whatnot': 51711,
 'allwomen': 3057,
 'wantto': 51057,
 'rich': 39770,
 'react': 38425,
 'finds': 17651,
 'feelings': 17341,
 'strong': 45210,
 'desire': 13162,
 'eating': 15038,
 'ribcage': 39760,
 'pull': 37640,
 'lungs': 28411,
 'glue': 19795,
 'dripping': 14592,
 'fingers': 17667,
 'dont': 14251,
 'pointless': 36268,
 'boring': 6966,
 'stupid': 45316,
 'bother': 7013,
 'posting': 36604,
 'history': 22201,
 'fascinating': 17157,
 'artist': 4238,
 'struggle': 45229,
 'use': 50041,
 'wanker': 51037,
 'whining': 51797,
 'sense': 41780,
 'value': 50196,
 'forcing': 18234,
 'gets': 19514,
 'easier': 15009,
 'remember': 39139,
 'maybe': 29409,
 'set': 41925,
 'word': 52368,
 'count': 11354,
 'stream': 45114,
 'bit': 6272,
 'thats': 47088,
 'ok': 33510,
 'type': 49162,
 'try': 48877,
 'constantly': 10862,
 'writing': 52587,
 'typing': 49175,
 'saying': 40957,
 'say': 40946,
 'response': 39479,
 'question': 37960,
 'study': 45268,
 'school': 41132,
 'forward': 18367,
 'day': 12444,
 'come': 10260,
 'sake': 40629,
 'studying': 45270,
 'time': 47727,
 'havent': 21424,
 'camp': 8202,
 '4th': 1223,
 'july': 25571,
 'sad': 40539,
 'breaking': 7242,
 'tradition': 48442,
 'fireworks': 17731,
 'tubing': 48916,
 'sunburns': 45658,
 'lol': 27983,
 'weird': 51486,
 'changing': 8965,
 'start': 44673,
 'tomorrow': 48102,
 'starting': 44679,
 'field': 17516,
 'hockey': 22317,
 'shorts': 42403,
 'tuesday': 48929,
 'summer': 45613,
 'league': 27088,
 'starts': 44686,
 'excited': 16486,
 'almost': 3069,
 'year': 52948,
 'listening': 27770,
 'cadillac': 8042,
 'mest': 29928,
 'verse': 50413,
 'tonight': 48155,
 'roll': 40105,
 'somber': 43740,
 'gonna': 19958,
 'chorus': 9402,
 'top': 48227,
 'rollin': 40114,
 'order': 33947,
 'round': 40257,
 'girls': 19643,
 'nowhere': 32990,
 'found': 18384,
 'hope': 22552,
 'fallin': 17018,
 'cause': 8686,
 'torn': 48268,
 'showin': 42466,
 'self': 41616,
 'control': 11024,
 'knowing': 26331,
 'wrong': 52597,
 'lack': 26633,
 'wi': 51913,
 'quoted': 38049,
 'certainly': 8852,
 'bears': 5567,
 'repeating': 39247,
 'cannot': 8286,
 'catholics': 8660,
 'hold': 22343,
 'profess': 37245,
 'supposes': 45803,
 'educated': 15156,
 'men': 29784,
 'kept': 25976,
 'profession': 37247,
 'external': 16763,
 'influence': 23942,
 'superstitious': 45764,
 'fear': 17280,
 'pride': 37056,
 'interest': 24337,
 'unworthy': 49885,
 'motive': 31025,
 'believed': 5800,
 'whole': 51861,
 'simple': 42774,
 'faith': 16990,
 'unseen': 49806,
 'opinion': 33846,
 'true': 48832,
 'false': 17028,
 'doubtless': 14366,
 'consequence': 10816,
 'absolute': 1919,
 'unhesitating': 49614,
 'simply': 42785,
 'extravagance': 16795,
 'especially': 16096,
 'exercised': 16548,
 'objects': 33250,
 'reject': 39013,
 'scorn': 41233,
 'abhorrence': 1827,
 'hence': 21775,
 'prophesy': 37386,
 'catholic': 8658,
 'church': 9499,
 'lose': 28157,
 'proportion': 37393,
 'directed': 13611,
 'sober': 43593,
 'examination': 16436,
 'thoughts': 47476,
 'separation': 41834,
 'matter': 29350,
 'words': 52375,
 'pretence': 37007,
 'understand': 49487,
 'blessed': 6458,
 'sacrament': 40521,
 'living': 27836,
 'portion': 36496,
 'minds': 30234,
 'mere': 29861,
 'embrace': 15501,
 'inward': 24570,
 'assent': 4382,
 'lost': 28168,
 'unless': 49690,
 'dark': 12323,
 'ages': 2578,
 'committed': 10375,
 'therefore': 47224,
 'receive': 38602,
 'constraint': 10879,
 'duty': 14882,
 'spirit': 44262,
 'party': 34892,
 'gladly': 19690,
 'rid': 39794,
 'doctrine': 14087,
 'transubstantiation': 48558,
 'heavy': 21612,
 'stone': 44983,
 'necks': 32055,
 'shocking': 42338,
 'necessary': 32045,
 'brethren': 7297,
 'privilege': 37129,
 'indeed': 23777,
 'profane': 37242,
 'jesus': 25232,
 'altars': 3135,
 'belief': 5793,
 'god': 19844,
 'yes': 53040,
 'suppose': 45797,
 'nothing': 32885,
 'bound': 7046,
 'let': 27342,
 'sit': 42901,
 'upon': 49942,
 'commit': 10368,
 'keep': 25885,
 'altogether': 3159,
 'distance': 13913,
 'heavenly': 21605,
 'dogmas': 14136,
 'case': 8552,
 'burden': 7759,
 'gracious': 20145,
 'concerns': 10594,
 'rather': 38352,
 'intimate': 24441,
 'winningwhy': 52110,
 'among': 3304,
 'dwells': 14908,
 'sky': 43065,
 'selfevident': 41636,
 'claim': 9640,
 'ask': 4321,
 'reasons': 38548,
 'rational': 38358,
 'natural': 31848,
 'determinations': 13254,
 'narrowminded': 31788,
 'bottom': 7030,
 'spite': 44271,
 'pretences': 37008,
 'appearances': 3878,
 'stretch': 45155,
 'conceive': 10580,
 'exists': 16596,
 'cognisance': 10089,
 'heart': 21552,
 'experience': 16654,
 'mind': 30216,
 'admitting': 2300,
 'mystery': 31561,
 'measure': 29545,
 'selfdefence': 41630,
 'considers': 10835,
 'hypocritical': 23186,
 'professing': 37246,
 'lest': 27340,
 'confess': 10676,
 'blind': 6469,
 'behold': 5759,
 'manner': 28957,
 'father': 17198,
 'bestowed': 5988,
 'named': 31696,
 'sons': 43849,
 'knoweth': 26325,
 'venerable': 50336,
 'john': 25379,
 'henry': 21793,
 'newman': 32292,
 'co': 9983,
 'discourses': 13721,
 'mixed': 30498,
 'congregations': 10750,
 'san': 40740,
 'francisco': 18464,
 'gay': 19286,
 'june': 25595,
 '2004': 657,
 'worst': 52486,
 'days': 12480,
 'tt': 48899,
 'stuffy': 45293,
 'fan': 17075,
 'wat': 51184,
 'eyes': 16847,
 'haha': 20866,
 'torments': 48267,
 'thru': 47560,
 'abt': 1937,
 'suffering': 45532,
 'twice': 49082,
 'chem': 9168,
 'maths': 29330,
 'paper': 34709,
 'frenz': 18593,
 'cmi': 9959,
 'dun': 14820,
 'mugged': 31272,
 'chemistry': 9172,
 'nite': 32544,
 'till': 47710,
 '12': 240,
 'gd': 19313,
 'job': 25333,
 'feeling': 17339,
 'sori': 43914,
 'mrs': 31166,
 'siew': 42644,
 'needs': 32080,
 'mark': 29095,
 'many': 28996,
 'scripts': 41326,
 'wield': 51951,
 'answers': 3617,
 'iodine': 24576,
 'chloride': 9341,
 'answer': 3611,
 'ms': 31174,
 'lau': 26940,
 'high': 22003,
 'expectations': 16625,
 'expectation': 16624,
 'meaning': 29526,
 'muz': 31500,
 'pass': 34916,
 'guys': 20741,
 'teachers': 46602,
 'harder': 21268,
 'glad': 19686,
 'wif': 51961,
 'junks': 25607,
 'kekeor': 25910,
 'already': 3104,
 'numbed': 33089,
 'physics': 35717,
 'exam': 16435,
 'qt': 37863,
 'dori': 14298,
 'doris': 14300,
 'ginza': 19616,
 'distress': 13946,
 'actually': 2161,
 'fill': 17586,
 'stomachs': 44978,
 'reminded': 39151,
 'dayima': 12466,
 'ning': 32522,
 'ke': 25870,
 'dui': 14776,
 'bu': 7549,
 'qi': 37852,
 'mdm': 29510,
 'poon': 36407,
 'ye': 52903,
 'yi': 53081,
 'du': 14719,
 ...}

In [30]:
cvect.get_feature_names()

['00',
 '000',
 '000000flickryourcomment',
 '000000this',
 '00skate',
 '01',
 '0100',
 '011398',
 '015lb',
 '02',
 '020',
 '02062004',
 '0207',
 '02082003',
 '0230',
 '025',
 '03',
 '03062004',
 '032',
 '038',
 '04',
 '0400',
 '0405',
 '0409',
 '04s',
 '05',
 '0500',
 '0505',
 '0513',
 '051947',
 '0524hrs',
 '052704',
 '0529',
 '053',
 '05400',
 '0542',
 '059',
 '05g',
 '06',
 '0600',
 '06062004',
 '0609041',
 '07',
 '070',
 '0700',
 '07012004',
 '07062004',
 '070902',
 '07162004',
 '07182004',
 '074357',
 '07739303494',
 '078',
 '0789',
 '08',
 '0800',
 '08012004',
 '08062004',
 '08072004',
 '08132004',
 '08152004',
 '0816',
 '0818',
 '08212004',
 '0830',
 '08312004',
 '0845',
 '0870',
 '09',
 '09062004',
 '093',
 '0930',
 '09th',
 '0_0',
 '0i',
 '0in',
 '0pxflickrbuddyicon',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '100000mile',
 '100002nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '100004nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '100023nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '1000bucks',
 '1000freeupstairs',
 '1000pm',
 '1000x',
 '100102nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '100242nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '100324nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '10082',
 '100am',
 '100carina',
 '100hour',
 '100m',
 '100pm',
 '100s',
 '100th',
 '100x',
 '101',
 '1012',
 '1014',
 '1015',
 '101bowling',
 '101yawwwnnn',
 '102',
 '1020',
 '10203',
 '1020pm',
 '1021',
 '1024x768',
 '1025',
 '1026',
 '102mph',
 '1030',
 '1030am',
 '1030pm',
 '1030we',
 '1032',
 '1033am',
 '104',
 '1040',
 '1042',
 '1044',
 '1045',
 '1045pm',
 '1046',
 '10480',
 '1049',
 '1050am',
 '1053',
 '1054',
 '106',
 '1066',
 '1069',
 '107',
 '1073',
 '108',
 '1098',
 '10am',
 '10amwatch',
 '10amwatched',
 '10clarisse',
 '10day',
 '10dm',
 '10ish',
 '10k',
 '10lb',
 '10lbs',
 '10m2',
 '10mins',
 '10minutes',
 '10now',
 '10ofthemkids',
 '10playing',
 '10plus',
 '10pm',
 '10pmn',
 '10pt',
 '10push',
 '10px',
 '10s',
 '10th',
 '10thanniversary',
 '10the',
 '10x',
 '10x13',
 '11',
 '110',
 '1100',
 '11000',
 '110000',
 '110202',
 '1106',
 '110k',
 '110year',
 '111',
 '1110',
 '1112',
 '1114',
 '1115',
 '1115ish',
 '112',
 '1120ish',
 '1120metallica',
 '1122',
 '1127',
 '113',
 '1130',
 '1130am',
 '1131',
 '1135',
 '1135pm',
 '1136',
 '1140',
 '11400',
 '1141',
 '1142',
 '1144',
 '1145',
 '114553',
 '1145amthen',
 '1147',
 '1149',
 '115',
 '1150',
 '115063',
 '1151',
 '1152',
 '1152x864',
 '1155',
 '1156th',
 '116621',
 '116622',
 '116623',
 '116624',
 '117',
 '1175',
 '1179',
 '118',
 '118am',
 '119bn',
 '119k',
 '11am',
 '11amden',
 '11auntie',
 '11ip',
 '11ish',
 '11it',
 '11km',
 '11lb',
 '11pm',
 '11pmwent',
 '11s',
 '11th',
 '11yearold',
 '11yrold',
 '12',
 '120',
 '1200',
 '12000',
 '120000',
 '1202',
 '1203',
 '1206',
 '12062004',
 '120c',
 '120m',
 '121',
 '1210',
 '121203',
 '1213',
 '1215',
 '1215pm',
 '1217',
 '12206',
 '1225',
 '1226',
 '1227',
 '1229',
 '122903',
 '122mm',
 '123',
 '1230',
 '123003',
 '12301',
 '1230am',
 '1230pm',
 '123456shot',
 '1234yeah',
 '1235',
 '1235am',
 '1236pm',
 '124',
 '1240',
 '1244',
 '1245',
 '1245pm',
 '125',
 '1250',
 '125145',
 '126',
 '127',
 '12725',
 '128',
 '1280by960',
 '128mb',
 '1295',
 '12am',
 '12day',
 '12foot',
 '12ft',
 '12ish',
 '12mela',
 '12oz',
 '12pm',
 '12pmmakan',
 '12s',
 '12th',
 '13',
 '130',
 '1300',
 '13000',
 '1304',
 '130a',
 '130am',
 '130pm',
 '1317',
 '132',
 '1320',
 '133',
 '1330',
 '1335',
 '1337',
 '1337azn',
 '134',
 '134620',
 '135',
 '1350',
 '135sq',
 '136',
 '1370',
 '1378',
 '137th',
 '138',
 '138000',
 '13818',
 '139',
 '13ayan',
 '13b',
 '13k14k',
 '13mb',
 '13me',
 '13pm',
 '13s',
 '13shootingstar0107',
 '13th',
 '13thsux',
 '13yearold',
 '14',
 '140',
 '1400s',
 '140160',
 '14042004',
 '14100',
 '1415',
 '143',
 '1430ishnbsp',
 '1434',
 '144',
 '145',
 '145pm',
 '146',
 '147',
 '1491',
 '14k',
 '14olib',
 '14th',
 '14thcentury',
 '14yearold',
 '15',
 '150',
 '1500',
 '15000',
 '150000',
 '150lb',
 '150pm',
 '151',
 '151011',
 '1513',
 '1516',
 '1520',
 '15251594',
 '1529',
 '154',
 '15431623',
 '155102',
 '156',
 '157',
 '1571',
 '15751',
 '1576',
 '158',
 '159',
 '15981662',
 '15ip',
 '15k',
 '15marlon',
 '15min',
 '15mins',
 '15minute',
 '15minutes',
 '15nbsp',
 '15th',
 '16',
 '160',
 '1600',
 '16000',
 '1600x1200',
 '161',
 '1618',
 '162',
 '1620',
 '163',
 '1630',
 '16330',
 '164000',
 '164306',
 '165',
 '1650',
 '1656',
 '166',
 '16650',
 '167',
 '1676',
 '16851750',
 '1690',
 '16a',
 '16hour',
 '16lola',
 '16mb',
 '16nbsp',
 '16th',
 '16thnbsp',
 '16year',
 '16yearold',
 '16yearolds',
 '17',
 '170',
 '1700',
 '1700pm',
 '1700s',
 '1715',
 '1718',
 '1724',
 '17259',
 '172nd',
 '173109',
 '175',
 '1759',
 '1776ft',
 '178',
 '1780',
 '179',
 '17foot',
 '17ip',
 '17mile',
 '17s',
 '17th',
 '17tita',
 '17woot',
 '17yearold',
 '17yearolds',
 '18',
 '180',
 '1800',
 '180000',
 '1800ivanadi',
 '1804',
 '18091865',
 '180b',
 '180cm',
 '181',
 '1819',
 '182',
 '1821',
 '1824',
 '18251829',
 '183',
 '1830',
 '18371924',
 '183rd',
 '184',
 '18400',
 '1841',
 '1846',
 '185c',
 '186',
 '1869',
 '1875',
 '1876',
 '188',
 '1889',
 '18891971',
 '189',
 '18921973',
 '1895',
 '18dec03',
 '18foot',
 '18k',
 '18month',
 '18t',
 '18th',
 '18tita',
 '18year',
 '19',
 '190',
 '1900',
 '1904',
 '1907',
 '190dm',
 '190reached',
 '190so',
 '1911',
 '1913',
 '1916',
 '1917',
 '1917s',
 '1918',
 '1919',
 '19200',
 '1920s',
 '1920sthe',
 '1922',
 '1924',
 '1925',
 '1926nbsp',
 '1927',
 '1928',
 '193',
 '1930',
 '1930s',
 '1931',
 '19322003',
 '1933',
 '1935',
 '1936',
 '1939',
 '1940',
 '1941',
 '1942',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '195',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1956',
 '1957',
 '1958',
 '1959',
 '196',
 '1960',
 '1960s',
 '1960s70s',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1968',
 '1969',
 '197',
 '1970',
 '19702002',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '19842002',
 '1985',
 '1986',
 '1987',
 '19872003',
 '1988',
 '1989',
 '199',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '19950',
 '19952000',
 '1996',
 '19962006',
 '1997',
 '1997by',
 '1998',
 '1999',
 '19dm',
 '19k',
 '19stroke',
 '19th',
 '19th31st',
 '19tita',
 '19yearold',
 '1am',
 '1cm',
 '1corinthians',
 '1dont',
 '1dz',
 '1eating',
 '1first',
 '1hr',
 '1i',
 '1in',
 '1ish',
 '1later',
 '1lb',
 '1lets',
 '1litre',
 '1maybe',
 '1million',
 '1nbsp',
 '1nbspfor',
 '1nbspone',
 '1oliver',
 '1pm',
 '1pxflickrpostedby',
 '1s',
 '1st',
 '1sti',
 '1stly',
 '1the',
 '1weirdwoke',
 '1what',
 '1x',
 '1yr',
 '20',
 '200',
 '2000',
 '20000',
 '200000',
 '2000poundmontharound',
 '2000s',
 '2001',
 '2002',
 '20022003i',
 '2003',
 '20032004',
 '2003feb',
 '2003this',
 '2004',
 '20040518',
 '20040522',
 '20040628',
 '200408',
 '20042005',
 '2004gpc2jpg',
 '2004nbsp',
 '2004wimbledon',
 '2005',
 '2006',
 '2007',
 '2008',
 '2008nbsp',
 '200ish',
 '200kmh',
 '200m',
 '200pm',
 '200s',
 '201',
 '2011',
 '2012',
 '2016',
 '2020',
 '2021',
 '2024',
 '2028',
 '202940pm',
 '2030',
 '2032',
 '2035',
 '2036',
 '204',
 '2040',
 '204016',
 '2044',
 '2048',
 '205',
 '206',
 '2060mins',
 '207',
 '208',
 '2096',
 '20972107',
 '20ft',
 '20hour',
 '20is',
 '20kg',
 '20minutenap',
 '20mph',
 '20nbsp',
 '20person',
 '20rd',
 '20s',
 '20so',
 '20something',
 '20st',
 '20th',
 '20tita',
 '20when',
 '20yearsold',
 '21',
 '210',
 '2100',
 '2104',
 '2112',
 '2119',
 '212',
 '2121',
 '21234',
 '213',
 '214',
 '21400',
 '2146',
 '215',
 '216',
 '21600',
 '218',
 '219',
 '21a',
 '21b',
 '21k',
 '21minutes',
 '21st',
 '21stcentury',
 '21tita',
 '22',
 '2200',
 '22000',
 '22052004',
 '220ish',
 '221',
 '22170',
 '221k',
 '222',
 '2222222222222322222332222234222233',
 '2225',
 '2228',
 '223',
 '22324',
 '224',
 '224701',
 '224725',
 '224730',
 '224735',
 '224824',
 '224918',
 '225',
 '225005',
 '225034',
 '225040',
 '225046',
 '225054',
 '225055',
 '225127',
 '225130',
 '225141',
 '225208',
 '225235',
 '22535',
 '225521',
 '225546',
 '225601',
 '225612',
 '225626',
 '226',
 '228',
 '228th',
 '229',
 '2295883',
 '22march',
 '22nd',
 '22tito',
 '23',
 '230',
 '230am',
 '230amand',
 '230ish',
 '230pm',
 '232',
 '23230',
 '232453062450324',
 '233',
 '234',
 '2341',
 '235',
 '237',
 '239',
 '23ish',
 '23mutya',
 '23nov',
 '23rd',
 '24',
 '240',
 '24000',
 '241',
 '241202',
 '24130',
 '24145',
 '242',
 '244and',
 '245',
 '24500',
 '245k',
 '245pm',
 '24662',
 '247',
 '247s',
 '248',
 '249',
 '24dotz',
 '24foot',
 '24mutyas',
 '24th',
 '25',
 '250',
 '2500',
 '25000',
 '250000',
 '25055',
 '252004',
 '2528',
 '2550',
 '256',
 '256mb',
 '257',
 '258',
 '2581',
 '25dm',
 '25mph',
 '25nanay',
 '25nbsp',
 '25storey',
 '25th',
 '26',
 '2600',
 '26000',
 '26077',
 '262',
 '2625',
 '263',
 '268243',
 '26mile',
 '26th',
 '26thwoke',
 '26tita',
 '27',
 '2700',
 '27235',
 '2725',
 '2728',
 '2730',
 '275',
 '277',
 '278306',
 '278b',
 '279',
 '27oish',
 '27photographer',
 '27th',
 '27ththe',
 '27year',
 '28',
 '280',
 '281920',
 '283',
 '287',
 '28days',
 '28driver',
 '28hour',
 '28th',
 '29',
 '29028',
 '297',
 '298138',
 '2999',
 '29mikoy',
 '29th',
 '2am',
 '2american',
 '2amsali',
 '2bedroom',
 '2by4s',
 '2car',
 '2cents',
 '2d',
 '2dae',
 '2day',
 '2days',
 '2daysundaybutheezkinda',
 '2gether',
 '2getting',
 '2hour',
 '2ish',
 '2k1',
 '2litre',
 '2me',
 '2morow',
 '2morrow',
 '2nd',
 '2nite',
 '2oo',
 '2page',
 '2part',
 '2pm',
 '2punch',
 '2px',
 '2quite',
 '2s',
 '2story',
 '2take',
 '2way',
 '2were',
 '2what',
 '2wice',
 '2would',
 '2year',
 '30',
 '300',
 '3000',
 '300000',
 '30062004',
 '300am',
 '300mm',
 '300nbsp',
 '301',
 '3020',
 '302nd',
 '304',
 '3040',
 '307',
 '308',
 '309',
 '30bottle',
 '30bucay',
 '30min',
 '30mins',
 '30mph',
 '30nbsp',
 '30pm',
 '30s',
 '30salready',
 '30some',
 '30switzerland',
 '30th',
 '30thousandths',
 '30year',
 '30yearold',
 '31',
 '310',
 '3100',
 '3105',
 '311',
 '312',
 '312rpcc',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319th',
 '31st',
 '32',
 '320',
 '320am',
 '3212004',
 '32222334222234422223452223333222',
 '323466film',
 '324',
 '3281811',
 '33',
 '330',
 '33000',
 '3304',
 '330pm',
 '330pmnbspa',
 '332am',
 '3333',
 '3334222334422233452223444222344',
 '3334233334423333452333444233344',
 '334',
 '3345223344422334452233455223444',
 ...]

b. Print the term-document matrix

In [31]:
#Convert Training data into Count Vectors
X_train_ct = cvect.transform(X_train)

In [32]:
X_test_ct = cvect.transform(X_test)

In [33]:
#Let's check the first record
X_train_ct[0]

<1x53452 sparse matrix of type '<class 'numpy.int64'>'
	with 18 stored elements in Compressed Sparse Row format>

Create a dictionary to get the count of every label i.e. the key will be label name and value will
be the total count of the label.

In [34]:
labels_count_dict = pd.Series(np.concatenate(df['labels'])).value_counts().to_dict()

In [35]:
labels_count_dict

{'male': 3433,
 'female': 3380,
 'indUnk': 2537,
 'Student': 1581,
 '24': 817,
 '17': 793,
 '16': 725,
 '25': 696,
 '23': 659,
 'Cancer': 644,
 'Aries': 643,
 'Libra': 628,
 'Taurus': 602,
 'Pisces': 593,
 'Virgo': 578,
 'Leo': 563,
 'Scorpio': 557,
 '26': 543,
 'Gemini': 530,
 'Capricorn': 507,
 'Sagittarius': 494,
 'Aquarius': 474,
 '27': 460,
 '15': 437,
 'Technology': 381,
 'Arts': 318,
 '14': 276,
 'Education': 270,
 '34': 207,
 '33': 195,
 '35': 194,
 'Communications-Media': 194,
 'Internet': 183,
 '36': 166,
 'Non-Profit': 161,
 '13': 130,
 'Engineering': 94,
 '37': 93,
 '38': 81,
 'Law': 77,
 'Publishing': 73,
 'Science': 73,
 'Fashion': 62,
 'Government': 60,
 'Religion': 59,
 'Consulting': 53,
 '40': 52,
 '39': 50,
 'Marketing': 49,
 'Telecommunications': 44,
 '48': 43,
 'Advertising': 41,
 'BusinessServices': 41,
 'HumanResources': 41,
 'Chemicals': 40,
 'Accounting': 37,
 '45': 35,
 'Sports-Recreation': 35,
 '43': 35,
 'Banking': 34,
 'Biotech': 31,
 '41': 30,
 'Transportation': 30,
 'RealEstate': 29,
 '46': 28,
 'Military': 27,
 'Manufacturing': 26,
 'Museums-Libraries': 25,
 '42': 25,
 '47': 22,
 '44': 21,
 'Tourism': 21,
 'LawEnforcement-Security': 20,
 'Automotive': 15,
 'Architecture': 14,
 'Construction': 13,
 'Agriculture': 11,
 'InvestmentBanking': 5,
 'Maritime': 5,
 'Environment': 3}

As we have noticed before, in this task each example can have multiple tags. To deal with
such kind of prediction, we need to transform labels in a binary form and the prediction will be
a mask of 0s and 1s. For this purpose, it is convenient to use MultiLabelBinarizer from sklearn
a. Convert your train and test labels using MultiLabelBinarizer

In [36]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [37]:
df.labels

0                  [male, 13, indUnk, Leo]
1                [male, 25, indUnk, Aries]
2             [male, 33, Internet, Taurus]
3               [male, 16, indUnk, Cancer]
4         [female, 24, Non-Profit, Pisces]
                       ...
6808    [male, 23, Education, Sagittarius]
6809            [male, 24, indUnk, Cancer]
6810         [female, 24, Science, Gemini]
6811           [male, 17, Student, Gemini]
6812            [male, 33, indUnk, Taurus]
Name: labels, Length: 6813, dtype: object

In [40]:
mlb.fit(y_train)

MultiLabelBinarizer(classes=None, sparse_output=False)

In [44]:
mlb.classes_

array(['13', '14', '15', '16', '17', '23', '24', '25', '26', '27', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', 'Accounting', 'Advertising', 'Agriculture',
       'Aquarius', 'Architecture', 'Aries', 'Arts', 'Automotive',
       'Banking', 'Biotech', 'BusinessServices', 'Cancer', 'Capricorn',
       'Chemicals', 'Communications-Media', 'Construction', 'Consulting',
       'Education', 'Engineering', 'Environment', 'Fashion', 'Gemini',
       'Government', 'HumanResources', 'Internet', 'InvestmentBanking',
       'Law', 'LawEnforcement-Security', 'Leo', 'Libra', 'Manufacturing',
       'Maritime', 'Marketing', 'Military', 'Museums-Libraries',
       'Non-Profit', 'Pisces', 'Publishing', 'RealEstate', 'Religion',
       'Sagittarius', 'Science', 'Scorpio', 'Sports-Recreation',
       'Student', 'Taurus', 'Technology', 'Telecommunications', 'Tourism',
       'Transportation', 'Virgo', 'female', 'indUnk', 'male'],
      dtype=object)

In [41]:
y_train = mlb.transform(y_train)

In [42]:
y_test = mlb.transform(y_test)

In [43]:
y_train[0]

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

 Choose a classifier

In [47]:
import numpy as np
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf = OneVsRestClassifier(clf)

 Fit the classifier, make predictions and get the accuracy (5 points)

In [49]:
clf.fit(X_train_ct, y_train)

C:\Users\samu0315\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='warn', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [58]:
y_preds = clf.predict(X_test_ct)

In [59]:
y_preds[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [60]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_preds))

0.002347417840375587

In [62]:
from sklearn.metrics import f1_score
print(f1_score(y_test,y_preds,average='micro'))

0.27743721574055763

In [63]:
from sklearn.metrics import average_precision_score
print(average_precision_score(y_test,y_preds,average='micro'))

0.12727395871590977

In [67]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_preds,average='micro'))

0.20583920187793428

In [72]:
for x in range(0,5):
    print(y_preds[x])
    print(y_test[x])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1]
[1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1]
[0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1]
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 1]
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 1 1 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 1]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0]
[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 1]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 0]
[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 0]

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])